*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --text-color: #ededed;
    --main-second-color: #1E90FF;
    --bg: #000000;
}

::-webkit-scrollbar {
    width: 15px;
    border-radius: 1px;
    background: rgb(104, 103, 103);
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background: linear-gradient(#1E90FF, #0a325a);
    border-radius: 10px;
    border: 1px solid var(--main-color);
}

canvas{
    width: 100%;
    height: 100%;
}

section{
    min-height: 100vh;
}

.menumobi{
    display: none;
}

.inicio{
    overflow-x: hidden;
}

.icon{
    position: fixed;
    top: 30px;
    left: 60px;
    transition: .5s;
    z-index: 999;
}

.icon a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: bolder;
    font-size: 30px;
}

.icon:hover{
    transform: rotate(-10deg);
}

.icon a span{
    color: #1e8fffbd;
    font-weight: 100;
}

.icones {
    position: absolute;
    display: flex;
    gap: 50px;
    top: 20px;
    right: 20px;
}

.icones li {
    position: relative;
    list-style: none;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

.icones li::before {
    content: "";
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr),
        0 0 0 20px var(--bg),
        0 0 0 22px var(--clr);
    transition: .5s;
}

.icones li:hover::before {
    inset: 15px;
}

.icones li::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--bg);
    transform: rotate(45deg);
    transition: .5s;
}

.icones li:hover::after {
    inset: -10px;
    transform: rotate(0deg);
}

.icones li a {
    position: relative;
    text-decoration: none;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones li a i {
    font-size: 2em;
    transition: .5s;
    color: var(--clr);
}

.icones li:hover a i {
    color: var(--clr);
    transform: translateY(-40%);
}

.icones li a span {
    position: absolute;
    color: var(--clr);
    opacity: 0;
    transition: .5s;
    transform: scale(0) translateY(200%);
}

.icones li:hover a span {
    opacity: 1;
    transform: scale(1) translateY(100%);
}

.icones li:hover a i,
.icones li:hover a span {
    filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));
}

.Menu3d {
    margin-top: 200px;
    left: -10px;
    padding: 60px;
    position: fixed;
    transform: skewY(-15deg);
    transition: 0.5s;
    z-index: 999;
}

.Menu3d li {
    position: relative;
    list-style: none;
    width: 150px;
    background: #0b0c0c;
    z-index: var(--i);
    transition: 0.5s;
}

.Menu3d li:hover {
    background: #1E90FF;
    transform: translateX(20px);
}

.Menu3d li::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 100%;
    background: #070707;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}

.Menu3d li:hover::before {
    background: #0f2f42;
}

.Menu3d li::after {
    content: "";
    position: absolute;
    display: flex;
    top: -30px;
    left: 0;
    height: 30px;
    width: 100%;
    background: #070707;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}

.Menu3d li:hover::after {
    background: #2982b9;
}

.Menu3d li a {
    text-decoration: none;
    color: var(--text-color);
    padding: 15px;
    height: 40px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 14px;
    transition: 0.5s;
}

.Menu3d li a.active {
    color: var(--clr);
    filter: drop-shadow(0 0 5px var(--clr));
    transform: scale(1.1) translateX(10px);
}

.Menu3d li:hover a {
    color: white;
}

.Menu3d li:last-child::after {
    box-shadow: -100px 110px 20px #00000070;
}

.ResumeSobre{
    position: absolute;
    width: 450px;
    height: 450px;
    margin-top: 140px;
    right: 40px;
    background: linear-gradient(to left, #000000, 85%,transparent);
    box-shadow: 20px 0 10px 0 #2982b92f;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.ResumeSobre h1, h3, p{
    color: var(--text-color);
}

.ResumeSobre h1{
    font-size: 40px;
    margin-bottom: 5px;
}

.ResumeSobre h3{
    font-size: 23px;
    margin-bottom: 20px;
}

.ResumeSobre h3 span {
    position: relative;
    padding-right: 10px;
}

.ResumeSobre h3 span::before {
    content: "Realidade Digital.";
    color: var(--main-second-color);
}

.ResumeSobre h3 span::after {
    content: "";
    position: absolute;
    height: 100%;
    right: 0;
    border-left: 2px solid var(--main-second-color);
    animation:  cursor .8s infinite, digitar 20s steps(15) infinite;
    width: 100%;
    background-color: black;
}

.ResumeSobre p{
    font-size: 17px;
    color: #ffffff9f;
    margin: 0 50px;
}

#Sobre {
    background: linear-gradient(#000000, 80%, #000613);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    overflow-x: hidden;
}

.services-content {
    height: auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 8% 12%;
    margin-left: 200px;
}

.service {
    position: relative;
    height: 350px;
    width: 39%;
    margin: 1.5%;
    background-color: #191919;
    display: inline-block;
    box-shadow: 0px 0px 25px rgb(0, 0, 0, .05);
    position: relative;
    text-align: center;
    z-index: 2;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 50px;
    margin-left: 50px;
}

.service-img {
    text-align: center;
    overflow-x: hidden;
}

.service-img img {
    display: inline-block;
    width: 80px;
    z-index: 2;
    position: relative;
    margin: 20px;
    border-radius: 30%;
    padding: 10px;
    border: 0px solid var(--main-second-color);
    background: var(--main-second-color);
    box-shadow: 0px 0px 0px 0px var(--main-second-color);
    height: 90px;
    transition: all .8s ease;
    
}

.service:hover .service-img img {
    box-shadow: 0px 0px 0px 300px var(--main-second-color);
}

.service-description {
    color: var(--text-color);
    background: transparent;
    position: relative;
    display: inline-block;
    z-index: 2;
}

.service-description h2 {
    padding: 10px;
    margin: 5px;
    font-weight: 200;
    font-size: 25px;
}

.service-description p {
    padding: 10px;
    font-weight: 200;
    font-size: 16px;
    opacity: .8;
}

#services {
    position: relative;
}

.services-heading {
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 160px;
    font-size: 40px;
    color: var(--text-color);
    margin-top: 100px;
    font-weight: 900;

}

.services-heading span{
    color: var(--main-second-color);
}

.services-heading-one {
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #ffffffaf;
    font-weight: 900;
    margin-left: 160px;
    margin-bottom: -50px;
}

.services-heading-one span{
    color: #ffffff73;
}

.sobre-container{
    width: 900px;
    height: 100%;
    display: flex;
    margin-left: 200px;
}

.titulo-box{
    width: 50%;
    padding-right: 40px;
    pointer-events: none;
}

.titulo-box h1{
    font-size: 30px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.titulo-box h1 span{
    color: var(--main-second-color);
}

.titulo-box p{
    color: #ffffff83;
    margin-bottom: 30px;
    line-height: 1.5;
}

.titulo-box p strong{
    color: #ffffffad;
}

.contrib{
    display: flex;
}

.contrib-box{
    width: 100px;
    margin-right: 10px;
}

.contrib-box h3{
    color: var(--main-second-color);
}

.contrib-box span{
    color: var(--text-color);
}

.skills-box{
    padding-left: 60px;
}

.titulos {
    display: flex;
    margin-bottom: 20px;
}

.titulos h5{
    color: var(--text-color);
    font-size: 17px;
    margin-right: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    pointer-events: none;
}

.frontend{
    display: flex;
    height: 40px;
    align-items: center;
    overflow: hidden;
}

.frontend p{
    color: #ffffffa8;
    margin-right: 10px;
    pointer-events: none;
    font-size: 17px;
}

.frontend img{
    width: 25px;
    margin-right: 20px;
    transition: .3s;
}

.frontend img:hover {
    transform: scale(1.2);
}

.linguagens{
    display: flex;
    color: #ffffff5b;
    font-size: 10px;
    margin-left: 85px;
    margin-bottom: 20px;
}

.linguagens span{
    margin-right: 18px;
}

.linguagens span:nth-child(3) {
    margin-left: 5px;
}

.linguagens span:nth-child(4){
    margin-left: -5px;
}

.linguagens span:nth-child(6) {
    margin-left: -3px;
}

.backend{
    display: flex;
    height: 40px;
    align-items: center;
    overflow: hidden;
}

.backend p {
    color: #ffffffa8;
    margin-right: 10px;
    pointer-events: none;
    font-size: 17px;
}

.backend img {
    width: 25px;
    margin-right: 20px;
    transition: .3s;
}

.backend img:nth-child(3) {
    margin-right: 30px;
}

.backend img:hover {
    transform: scale(1.2);
}

.linguagensTwo {
    display: flex;
    color: #ffffff5b;
    font-size: 10px;
    margin-left: 83px;
}

.linguagensTwo span{
    margin-right: 13px;
}

.linguagensTwo span:nth-child(3) {
    margin-right: 20px;
}

.linguagensTwo span:nth-child(4){
    margin-right: 27px;
}

#portfolio{
    padding-left: 150px;
    background: linear-gradient(#000613, 60%, #060008);
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.title-portfolio{
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

.title-portfolio h1{
    font-size: 40px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.title-portfolio span{
    color: var(--main-second-color);
}

.title-portfolio p{
    color: rgba(255, 255, 255, 0.76);
    font-size: 17px;
}

#portfolio-content{
    margin-top: -20px;
}

.title-portfolio p span{
    color: #ffffff88;
}

.portfolio {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.5%;
    padding-right: 2%;
    padding-top: 20px;
}

.portfolio-text {
    position: relative;
    width: 40%;
    padding-left: 1%;
    margin: 1%;
    margin-left: -80px;
    margin-top: 160px;
    z-index: 3;
    opacity: 1;
    background: #080808;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

.portfolio-text h2 {
    font-size: 35px;
    font-weight: 200;
    padding: 20px;
    color: #1E90FF;
    transition: all .4s ease;
}

.portfolio-text p {
    font-size: 17px;
    opacity: .8;
    font-weight: 100;
    line-height: 1.5;
    padding: 20px;
}

.portfolio-text button {
    font-size: 16px;
    opacity: .8;
    font-weight: 200;
    padding: 10px 20px;
    background: transparent;
    color: #1E90FF;
    transition: all .4s ease;
    outline: none;
    margin: 20px;
    border: 1.5px solid #1E90FF;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all .4s ease;
}

.portfolio-text button::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 200%;
    transform: rotate(-15deg) translateY(-20px);
    top: 0;
    left: 0;
    z-index: 3;
    background: #1E90FF;
    transition: all .7s ease;
}

.portfolio-text button:hover {
    opacity: 1;
    color: black;
}

.portfolio-image img {
    height: auto;
    width: 600px;
    position: relative;
    transform-style: preserve-3d;
    transition: .3s;
    box-shadow: 10px 10px 10px black;
}

.portfolio-image img:hover {
    transform: rotateY(-25deg) translateY(15px);
    box-shadow: 10px 20px 20px black
}

.portfolio-image {
    height: 500px;
    width: 650px;
    perspective: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

button:hover .index {
    position: relative;
    z-index: 4;
}

.portfolio-text button:hover::before {
    opacity: 1;
    width: 120%;
}

.button {
    text-align: center;
}

#Contact{
    padding-top: 8%;
    background: linear-gradient(#060008, 60%, #16001d);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 130px;
}

.title-contact h1{
    color: var(--text-color);
    font-size: 40px;
}

.title-contact h1 span{
    color: var(--main-second-color);
}

.title-contact p{
    color: #ffffffd2;
    font-size: 17px;
}

.title-contact p span{
    color: #ffffff88;
}

#contact-form{
    width: 500px;
    margin-top: 50px;
    margin-left: 140px;
}

.input-box{
    display: flex;
}

.input-field{
    width: 48%;
    margin-right: 10px;
}

.input-field input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ffffff49;
    outline: none;
    padding: 10px;
    margin-bottom: 10px;
    background: transparent;
    color: #ffffffd3;
    transition: .4s;
}

.input-field input:focus {
    border: 1px solid var(--main-second-color);
}

.textarea-field{
    width: 100%;
}

.textarea-field textarea{
    width: 98%;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #ffffff49;
    padding: 10px;
    outline: none;
    color: #ffffffd3;
    margin-bottom: 10px;
    transition: .4s;
}

.textarea-field textarea:focus {
    border: 1px solid var(--main-second-color);
}

.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ff2600;
}

.btn button{
    position: relative;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    color: white;
    border: 1px solid #ffffff49;
    border-radius: 15px;
    cursor: pointer;
}

.btn button:hover{
    border: 1px solid var(--main-second-color);
    filter: drop-shadow(0 0 5px var(--main-second-color))
}

.btn .logo-enviar{
    position: absolute;
    opacity: 0;
    transition: .4s;
}

.btn .texto{
    position: absolute;
    transition: .4s;
    opacity: 1;
}

.btn button:hover .texto{
    opacity: 0;
}

.btn button:hover .logo-enviar {
    opacity: 1;
    color: var(--main-second-color);
    filter: drop-shadow(0 0 5px var(--main-second-color))
}

@media(max-width: 1300px) {
    #portfolio-content{
        width: 90%;
        margin-left: 100px;
    }

    .services-content{
        width: 100%;
    }

    .service{
        margin: 0; 
    }

    .service-one{
        margin-left: -50px;
        margin-right: 100px;
    }

    .sobre-container{
        margin-left: 240px;
    }

}

@media(max-width: 1200px){
    #Sobre{
        padding-top: 100px;
    }

    .icones li{
        width: 70px;
        height: 70px;
    }

    .skills-box{
        margin-left: -40px;
    }

    .portfolio{
        margin-top: -220px;
        margin-left: -100px;
    }

    .portfolio-image img{
        width: 700px;
    }

    .portfolio-text{
        margin-left: -630px;
        margin-top: 680px;
        width: 600px;
    }

}

@media(max-width: 1100px) {
    .menumobi {
        position: fixed;
        display: block;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: rgba(0, 0, 0, 0.575);
        backdrop-filter: blur(30px);
        z-index: 10;
        box-shadow: 0 0 10px #1e8fff5b;
    }

    .Menu3d {
        display: flex;
        justify-content: space-evenly;
        margin-top: 0;
        left: 0;
        width: 100%;
        bottom: 30px;
        padding: 0;
        position: fixed;
        transform: skewY(0);
        transition: 0.5s;
        pointer-events: all;
        z-index: 999;
    }

    .Menu3d li {
        list-style: none;
        width: auto;
        transition: 0.5s;
    }

    .Menu3d li:hover {
        transform: translateX(0);
    }

    .Menu3d li::before {
        display: none;
    }

    .Menu3d li:hover::before {
        display: none;
    }

    .Menu3d li::after {
        display: none;
    }

    .Menu3d li:hover::after {
        display: none;
    }

    .Menu3d li a {
        text-decoration: none;
        color: var(--text-color);
        padding: 0;
        height: 0;
        display: block;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 10px;
        transition: 0.5s;
    }

    .Menu3d li a i{
        display: none;
    }

    .Menu3d li a span{
        position: absolute;
        opacity: 0;
    }

    .Menu3d li a.active {
        color: var(--clr);
        filter: drop-shadow(0 0 10px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));
        transform: scale(1.1) translateX(0);
    }

    .Menu3d li:last-child::after {
        box-shadow: -100px 110px 20px #00000070;
        display: none;
    }

    .icon{
        display: none;
    }

    .ResumeSobre{
        border-radius: 0;
        box-shadow: none;
        align-items: baseline;
        margin-top: 0;
        top: 20px;
        left: 0;
        height: 100%;
        background: linear-gradient(to right, #000000, 85%, transparent);
    }

    .ResumeSobre h1{
        font-size: 35px;
    }

    .icones{
        left: 50px;
        z-index: 999;
    }

    .services-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: 0;
    }

    .service{
        width: 90%;
        margin: 0 auto;
    }

    .sobre-container{
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }

    .titulo-box{
        width: 100%;
        margin: 0 auto;
        margin-left: 40px;
    }

    .skills-box{
        margin: 0 auto;
        padding: 0;
    }

    #portfolio{
        padding-left: 0;
    }

    .title-portfolio{
        margin-left: 0;
    }

    .services-heading {
        margin-left: 0;
    }
    
    .services-heading-one {
        margin-left: 0;
        margin-bottom: 0px;
    }

    #portfolio-content{
        width: 100%;
    }

    #Contact{
        width: 100%;
    }

    .title-contact{
        margin-left: 0px;
    }

    #contact-form{
        margin-left: 20px;
        padding-bottom: 100px;
    }
}

@media(max-width: 785px) {

    #inicio{
        pointer-events: none;
    }

    .icones{
        width: 100%;
        justify-content: center;
        left: 0;
        pointer-events: all;
    }

    .icones li a i,
    .icones li a span{
        filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr))
    }

    .ResumeSobre{
        height: 100%;
        width: 100%;
        background: #000000d0;
        align-items: center;
        right: 0px;
    }

    .ResumeSobre p{
        text-align: center;
    }

    #Sobre{
        padding: 30px;
    }

    .services-content{
        margin-left: 0;
        padding: 0 3%;
        padding-bottom: 10%;
    }

    .service{
        height: auto;
    }

    .sobre-container{
        display: flex;
        flex-direction: column;
    }

    .titulo-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-bottom: 80px;
        text-align: center;
    }


    .titulo-box h1{
        text-align: center;
        margin-bottom: 30px;
    }

    .skills-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulos{
        width: 100%;
        justify-content: center;
    }

    #portfolio{
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #portfolio-content{
        margin: 0;
        padding: 0;
    }

    .portfolio {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-right: 0;
        padding-top: 0;
        margin-left: 0;
    }

    .portfolio-image{
        width: 100%;
        padding: 0;
        margin: 0;
        left: 0;
    }

    .portfolio-image img{
        width: 80%;
        padding: 0;
        margin: 0;
    }

    .portfolio-image img:hover {
        transform: rotateY(-25deg) translateY(-15px);
        box-shadow: 10px 20px 20px black
    }

    .portfolio-text {
        width: 80%;
        padding-left: 0;
        margin: 0;
        margin-left: 0;
        margin-top: -100px;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 250px;
    }

    .portfolio-text h2{
        font-size: 24px;
    }

    .portfolio-text p{
        font-size: 15px;
    }

    #Contact{
        margin-top: 0;
        padding-top: 0;
        width: 100%;
    }

    .title-contact{
        
        padding-top: 0;
        margin-left: 0;
    }

    #contact-form{
        width: 80%;
        margin-top: 50px;
    }
}

@media(max-width: 785px) {
    #portfolio-content{
        margin-top: 200px;
    }

    #Sobre{
        padding: 0;
    }

    .services-content{
        display: flex;
        flex-direction: column;
    }

    .service{
        margin-bottom: 30px;
    }

    .sobre-container{
        padding-left: 30px;
    }

    .services-heading-one {
        margin-left: 0;
        margin-bottom: 50px;
    }

    #Contact{
        margin-top: -140px;
    }
}

@media(max-width: 665px) {
    .portfolio-text {
        margin-top: -130px;
        margin-bottom: 150px;
    }

    #portfolio-content{
        margin-top: 150px;
    }

    .input-box{
        flex-direction: column;
        width: 98%;
    }

    .input-field{
        width: 100%;
    }

    #Contact{
        margin-top: -100px;
    }
}

@media(max-width: 519px) {
    .portfolio-text {
        margin-top: -150px;
    }

    #portfolio-content{
        margin-top: 120px;
    }

    .frontend{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60px;
    }

    .frontend p{
        margin-bottom: 10px;
    }

    .linguagens{
        margin-bottom: 40px;
        margin-left: 15px;
    }

    .linguagens span{
        margin-right: 20px;
    }

    .backend{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60px;
    }

    .backend p{
        margin-bottom: 10px;
    }

    .linguagensTwo{
        margin-bottom: 40px;
        margin-left: 30px;
    }

    .linguagensTwo span{
        margin-right: 13px;
    }

    .linguagensTwo span:nth-child(3){
        margin-right: 20px;
    }

    .linguagensTwo span:nth-child(4){
        margin-right: 30px;
    }
}

@media(max-width: 445px) {
    .portfolio-text {
        margin-top: -170px;
        margin-bottom: 120px;
    }

    #Contact{
        margin-top: -60px;
    }
}

@keyframes entrada{
    0%{
        opacity: 0;
        transform: translate3d(20px, 0, -5px);
    }

    100%{
        opacity: 1;
        transform: rotate3d(0, 0, 0);
    }
}

@keyframes digitar {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    60%,
    65%,
    80%,
    85% {
        width: 100%;
    }
}

@keyframes cursor {
    0% {
        border-left: 2px solid black;
    }
}